/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

/* Header */
header{
  display: grid;
  grid-template-columns: 20fr 60fr 20fr;
}

/* Mid-Body */

#container-home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
}

#container-home #slogan{
  border: 1px solid #333333;
  padding: 0 1rem;
  margin-left: 2rem;
  font-weight: 100;
  font-family: "游ゴシック";
}

#container-home .platform{
  font-size: 3rem;
  width: 70vw;
  text-align: center;
  color: #333333;
  padding: 10vh;
  margin-top: 10vh;
}

/* Right - Nav */

nav{
  display: flex;
  align-items: center;
}

nav ul{
  display: inline-block;
  border-left: 1px solid black;
  list-style: none;
  padding: 0 2rem 15vh 2rem;
  background: white;
  line-height: 1.8rem;
  
}

nav ul li a{
  text-decoration: none;
}
